/* resume section */
.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
  font-size: 33px
}

.resume h2 {
  font-size: 45px;
  margin-top: 0;
  text-align: center;
}

.resume a {
  display: inline-block;
  background-color: #fff;
  color: #222;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.resume a:hover {
  background-color: #ccc;
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
}

.about h2 {
  font-size: 32px;
  margin-top: 0;
}

.about img {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about p {
  line-height: 1.5;
}

/* Projects section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 80%;
  font-family: sans-serif;
}

.projects h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.projects div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 1rem;
  background-color: #8d837d;
}

.projects img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.projects p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.projects a {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

/* Contact Section */
.emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 18px;
  font-family: sans-serif;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

label {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0062cc;
  padding-bottom: 5px;
}